*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: #ffffff;
}
.main{
    display: flex;
    height: 95vh;
}

.left{
display: flex;
background-color: rgb(255, 255, 255);
width: 1018px;
position: relative;
border-right:2px solid rgba(0, 0, 0, 0.110);
border-bottom:2px solid rgba(0, 0, 0, 0.100);
}

.picture{
    background-color: #ffffff;
    width: 530px;
}

.l-1{
    padding: 40px;
    background-color: #ffffff;
    width: 40%;
}
.fb-logo{
    width: 69px;
    padding-left:  6px; 
    padding-top: 5px;

}
.fb-image{
    width: 660px;
    position: relative;
    left: -148px;
}
    

.text h1{
    font-size: 60px;
    font-weight: 700;
    line-height:1.1;
    padding-top: 237px;
}
.text span{
    color:#1877f2;
}

.right{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-left:2px solid #e4e6eb;
    border-bottom:2px solid #e4e6eb;
}

.right h1{
    font-size: 30px;
    margin-bottom: 30px;
}

.right input{
    width: 85%;
    height: 60px;
    border-radius: 15px;
    padding: 16px;
    border: 2px solid rgba(0, 0, 0, 0.100);
    margin-bottom: 15px;
    margin-left: 20px;
    font-size:16px;
}

.right input:hover{
     border: 2px solid rgba(0, 0, 0, 0.363);
}

.login{
    width: 85%;
    height: 45px;
    border-radius: 25px;
    padding: 13px;
    color: #ffffff;
    margin-bottom: 15px;
    margin-left: 20px;
    font-size:20px;
    background-color: #1877f2;
    border: none;
}

.login:hover{
     background:#1266d4;
     cursor: pointer;
}

.Forgot{
    width: 80%;
    height: 50px;
    border-radius: 25px;
    padding: 13px;
    color: #000000;
    background-color: #ffffff;
    margin-left: 20px;
    font-size:19px;
    border: none;
}

.Forgot:hover{
    background-color:#f0f2f5;
}



.Create-btn{
    width:79%;
    padding:14px;
    height: 45px;
    border-radius: 25px;
    background:#fff;
    color:#1877f2;
    border:1px solid #1877f2;
    font-size:16px;
    cursor:pointer;
    margin-top: 50px;

}

.Create-btn:hover{
    background:#f0f2f5;
}

/* ========== bottom-text ==========*/
.bottom-text{
    border-top:1px solid #ddd;
    padding:30px 230px;
    font-size:14px;
    color:#8d8b8b;
}

.bottom-text p{
    line-height: 2.4;
    word-spacing:9px;   
}

.meta-img{
    width: 85px;
}