*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: #fff;
}
.main{
    display: flex;
    height: 95vh;
}

.left{
display: flex;
background-color: rgb(255, 255, 255);
width: 1018px;
position: relative;
border-right:2px solid rgba(0, 0, 0, 0.110);
border-bottom:2px solid rgba(0, 0, 0, 0.100);
}

.picture{
    background-color: #ffffff;
    width: 530px;
}

.l-1{
    padding: 40px;
    background-color: #ffffff;
    width: 40%;
}
.fb-logo{
    width: 69px;
    padding-left:  6px; 
    padding-top: 5px;

}
.fb-image{
    width: 660px;
    position: relative;
    left: -148px;
}
    

.text h1{
    font-size: 60px;
    font-weight: 700;
    line-height:1.1;
    padding-top: 237px;
}
.text span{
    color:#1877f2;
}

.right{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-left:2px solid #e4e6eb;
    border-bottom:2px solid #e4e6eb;
}



/* RIGHT SIDE 
.right{
    width:50%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    border-left:2px solid #e4e6eb;
}

.right p{
    font-size:22px;
    font-weight:600;
    margin-bottom:20px;
}

/* INPUTS 
.right input{
    width:380px;
    padding:16px;
    margin-bottom:15px;
    border:1px solid #ccd0d5;
    border-radius:12px;
    font-size:16px;
}

/* LOGIN BUTTON 
.login{
    width:380px;
    padding:14px;
    background:#1877f2;
    color:#fff;
    font-size:18px;
    border:none;
    border-radius:25px;
    cursor:pointer;
}

.login:hover{
    background:#166fe5;
}

/* FORGOT 
.Forgot{
    margin:20px 0;
    text-decoration:none;
    color:#1877f2;
    font-size:14px;
}

/* CREATE ACCoUNT *
.Create-btn{
    width:380px;
    padding:14px;
    background:#fff;
    color:#1877f2;
    border:2px solid #1877f2;
    border-radius:25px;
    font-size:16px;
    cursor:pointer;
}

.Create-btn:hover{
    background:#f0f2f5;
}

/* BOTTOM *
.bottom{
    text-align:center;
    font-size:12px;
    color:#737373;
    padding:25px;
} */