*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(72, 132, 188);
    
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.top{
    padding-top: 40px;
    padding-left: 7px;
    background-color: rgb(255, 255, 255);
    width: 39%;
    
}

.to-login{
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.to-login >a{
    padding-left: 4px;
    margin-left: 10px;
    color: rgb(140, 140, 140);
    width: 25px;
    border-radius: 52%;
}

.to-login >a:hover{
    background-color: rgb(229, 230, 231);
}

.to-login .meta-img{
    width: 64px;
    background: rgb(255, 255, 255);
}

.theory-1{
    padding-top: 22px;
    padding-bottom: 10px;
}
.theory-1 p{
    padding-top: 5px;
}

.name-sec h3{
    padding-bottom: 5px;
}
.input-sec {
    display: flex;
    gap: 15px;
    height: 55px;
}
.input-sec input{
    border-radius: 15px;
    border: 1px solid #9b9b9b; 
    padding-left: 10px;
    width: 280px;
    outline: none;
}









.bottom{
    background-color: rgb(80, 130, 113);
}