*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(64, 75, 85);
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;

.top{
    padding-top: 40px;
    padding-left: 7px;
    background-color: rgb(255, 255, 255);
    width: 38%;
    
}

.to-login{
    display: flex;
    flex-direction: column;
}

.to-login >a{
    padding-left: 4px;
    margin-left: 10px;
    color: rgb(140, 140, 140);
    width: 25px;
    border-radius: 52%;
}

.to-login >a:hover{
    background-color: rgb(229, 230, 231);
}

.to-login .meta-img{
    width: 55px;
}



.bottom{
    background-color: rgb(80, 130, 113);
}